absl-py==0.9.0
art==4.4
astor==0.8.1
certifi==2019.11.28
coverage==5.0.3
cycler==0.10.0
gast==0.3.2
google-pasta==0.1.8
graphviz==0.13.2
grpcio==1.26.0
h5py==2.10.0
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.2
numpy==1.18.1
pandas==0.25.3
Pillow==7.0.0
protobuf==3.11.2
pycm==2.5
pydot==1.4.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.9.0
six==1.13.0
sklearn==0.0
tensorboard==1.14.0
tensorflow==2.5.1
tensorflow-estimator==1.14.0
termcolor==1.1.0
Werkzeug==0.16.0
wrapt==1.11.2
